<web-app>
<welcome-file-list>
<welcome-file>Welcome.html</welcome-file>
</welcome-file-list>
<servlet>
<servlet-name>l</servlet-name>
<servlet-class>com.cb.Myapp.Login</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>l</servlet-name>
<url-pattern>/l</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Print</servlet-name>
<servlet-class>com.cb.Myapp.Print</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Print</servlet-name>
<url-pattern>/Print</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Drive</servlet-name>
<servlet-class>com.cb.Myapp.Drive</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Drive</servlet-name>
<url-pattern>/Drive</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>sendSMS</servlet-name>
<servlet-class>com.cb.Myapp.sendSMS</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>sendSMS</servlet-name>
<url-pattern>/sendSMS</url-pattern>
</servlet-mapping>
</web-app>